---
export type Props = {
  to: string;
  title: string;
  content1: string;
  content2: string;
  gradientFrom: string;
  gradientTo: string;
};

const { to, title, content1, content2, gradientFrom, gradientTo } = Astro.props;
---

<a
  id={title === "Alfred-Delp-Schule Dieburg" ? "ads_card" : "__CARD__"}
  class="card h-max w-full items-center justify-center rounded-xl
         p-1 no-underline decoration-transparent transition-all
         duration-200 ease-in-out hover:scale-95 dark:text-white"
  href={to}
  data-gradientFrom={gradientFrom}
  data-gradientTo={gradientTo}
>
  <div
    id="card__inner"
    class="max mb-2 flex h-max flex-col items-center justify-center rounded-xl bg-white p-6 max-[1px]:h-[26rem] dark:bg-black"
  >
    <div class="flex flex-col items-center justify-center">
      <div
        id="card__title"
        class="text-[1.6rem] font-semibold leading-7 text-black dark:text-slate-300"
      >
        {title}
      </div>
      <div
        id="card__description"
        class="-mb-4 mt-4 flex flex-col items-center justify-center"
      >
        <p>{content1}</p>
        <p>
          {content2 === "" ? "\u00A0" : content2}
        </p>
      </div>
    </div>
    <div
      id="card__footer"
      class="mb-0 ml-auto mr-0 mt-auto pt-8 text-[1.2rem] text-gray-400"
    >
      &rarr;
    </div>
  </div>
</a>

<style define:vars={{ gradientFrom, gradientTo }}>
  .card {
    background-image: linear-gradient(
      to right,
      var(--gradientFrom),
      var(--gradientTo)
    );
  }

  #ads_card {
    scale: 1.23;
    margin: 0 3rem 0 3rem;
  }

  @media only screen and (max-width: 1280px) {
    #ads_card {
      scale: 1;
      margin: 0 0 0 7vw;
    }

    .card {
      scale: 0.88;
      max-width: 90vw;
      margin-left: 7vw;
    }
  }
</style>
